{
  "plugins": [
    "transform-class-properties",
    ["module-resolver", {
      "alias": {
        "Browser": "./js/browser",
        "Build": "./js/build",
        "Mock": "./js/__spec__/__mock__"
      }
    }]
  ],
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": "last 2 versions"
      },
      "loose": true,
      "modules": false
    }]
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
