---
title: Home
layout: default
scripts:
- <script src="/assets/js/recipes_filter.js"></script>
---

    {%
        assign recipeCategories = site.collections
        | where_exp: "category", "category.label != 'posts'"
        | sort: "order"
    %}

    {% for category in recipeCategories %}
      <div class="category">
        <h1 id={{category.label}}>{{category.label | capitalize }}</h2>

        <ul class="recipes">
          {% for recipe in site[category.label]%}
            <li class="recipe" data-tags="{{recipe.tags | join: ' '}}">
              <a href="{{ recipe.url }}">
                <span class="title">{{ recipe.title  }}</span>

                <span class="tag-icons">
                  {% for tag in recipe.tags%}
                    <img
                      src="/assets/images/{{ tag }}.svg"
                      alt="{{tag | replace: '-', ' ' | capitalize}}"
                    />
                  {% endfor %}
                </span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
