div#content{
  margin: 1.5rem;
  margin-top: 4rem;
}

h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/***********************************
 * Navigation Menu
 ***********************************/
 .top-bar {
  position: fixed;
  top: 0;
  width: 100%;
 }

 .top-bar,
 .top-bar ul{
   background: rgb(51, 51, 51);
 }
 
 .top-bar a{
   color:rgb(255, 255, 255);
 }

 .top-bar .menu.nested li {
  font-size: 1.6rem;
  padding: 0.4rem;
 }

 .top-bar .menu.filter img {
  width: 5rem;
  filter: invert(90%);
 }

/***********************************
 * Recipes list styping
 ***********************************/
.recipes {
  list-style: none;
  margin: 0;
}

.recipes li {
  margin: 2rem 0;
  font-size: 32px;
}

.recipes li.recipe a {
  color: #4f3f37;
  padding: 1rem;
  border: 1px solid #90a7b2;
  display: flex;
  flex-flow: row wrap;
}

.recipes li.recipe a:hover {
  background-color: #90a7b2;
  color: white;
}

.recipes li.recipe a:active {
  background-color: #465b65;
  border: 1px solid #465b65;
}

.recipes li.recipe span {
  flex: 1 100%;
  text-align: center;
}

.tag-icons img {
  width: 1.2em;
}

@media all and (min-width: 768px){
  .recipes li a .title {
    flex: 2 auto;
    text-align: left;
  }

  .recipes li a .tag-icons {
    text-align: right;
  }
}

/*********************************
 * Styling on individual recipe pages
 *********************************/
.recipe .meta div.tags {
  float: right;
  text-align: center;
  padding: 1em;
}

.recipe .meta div.tags img {
  width: 4em;
}
