{% comment %}
=======================
Get a list of all recipe categories
=======================
{% endcomment %}
{%
    assign recipeCategories = site.collections
    | where_exp: "category", "category.label != 'posts'"
    | sort: "order"
%}

{% comment %}
=======================
The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
=======================
{% endcomment %}
{% assign rawtags = "" %}
{% for category in recipeCategories %}
  {% for recipe in site[category.label]%}
    {% assign ttags = recipe.tags | join:'|' | append:'|' %}
    {% assign rawtags = rawtags | append:ttags %}
  {% endfor %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated tags and invalid tags like blank tag.
=======================
{% endcomment %}
{% assign recipeTags = "" %}
{% for tag in rawtags %}
  {% if tag != "" %}
    {% if recipeTags == "" %}
      {% assign recipeTags = tag | split:'|' %}
    {% endif %}
    {% unless recipeTags contains tag %}
      {% assign recipeTags = recipeTags | join:'|' | append:'|' | append:tag | split:'|' %}
    {% endunless %}
  {% endif %}
{% endfor %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"/>

    <!-- iPhone/Android touch icon-->
    <link rel="apple-touch-icon" href="/assets/images/cooking-pot----152-220844.png">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.7.5/css/foundation.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/site.css"/>

    <title>Food | {{ page.title }}</title>
  </head>
  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="name">
            <a href="/">Food</a>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu" data-accordion-menu>
          <li>
            <a href="#">Categories</a>
            <ul class="menu vertical nested categories">
              {% for category in recipeCategories %}
              <li><a href="/#{{category.label}}">{{category.label | capitalize }}</a></li>

              {% endfor %}
              </ul>
          </li>

          <li>
            <a href="#">Filter</a>
            <ul class="menu vertical nested filter">
                  {% for tag in recipeTags %}
                  <li><input id="{{tag}}" type="checkbox">
                    <label for="{{tag}}">
                      <img
                        src="/assets/images/{{ tag }}.svg"
                        alt="{{tag | replace: '-', ' ' | capitalize}}"
                      />
                    </label>
                  </li>
                  {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div id="content">
      {{ content  }}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.7.5/js/foundation.min.js" integrity="sha512-xpawU2EKh0HLTLWu8khGczejw+OaWWr+JBcbFBWtRUIkkhuMRZZeEFxY0n51aeC9YF4jxOMzd0pTR9m0tiSvsQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      $(document).ready(function () {
        $(document).foundation();
      })
    </script>

    {% for script in page.scripts %}
    {{script}}
    {% endfor %}
  </body>
</html>
