---
layout: default
---

<h1>{{ page.title }}</h1>
<div class="recipe">
  <div class="meta">
    <div class="tags">
      {% for tag in page.tags %}
        <img
          src="/assets/images/{{ tag }}.svg"
          alt="{{tag | replace: '-', ' ' | capitalize}}"
        />
        <p><em>{{tag | replace: '-', ' ' | capitalize}}</em></p>
      {% endfor %}
    </div>

    {% comment %}
      Add Time to Prepare
    {% endcomment %}
    {% if page.time %}
      <p><strong>Time to Prepare</strong>: {{ page.time }}
    {% endif %}

    {% comment %}
      Add Number of Services
    {% endcomment %}
    {% if page.servings %}
      <p><strong>Number of Servings</strong>: {{ page.servings }}</p>
    {% endif %}

    {% comment %}
      Add Ingredient List
    {% endcomment %}
    {% if page.ingredients %}
      <p><strong>Ingredients</strong></p>

      <ul>
        {% for ingredient in page.ingredients %}
          <li>{{ingredient[1]}} {{ingredient[0]}}</li>
        {% endfor %}
      </ul>
    {% endif %}

  </div>

  <div class="body">
    {{ content }}
  </div>

</div>
